.App {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  padding: 30px;
}

.App>div {
  margin-right: 50px;
}

body {
  background-color: #141414;
  color: white;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}